<!DOCTYPE html>
<html>
<head>
  <title>QoQa</title>

  <!-- Latest compiled and minified CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css"
        integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7"
        crossorigin="anonymous">

</head>
<body>

<div class="container">
<% if (currentUser != null) { %>

  <h2>Logged</h2>

  <a href="/logout">Logout</a>

<% } else { %>

  <a href="/register">Register</a>
  <a href="/login">Login</a>

<% } %>
</div>

</body>
</html>
