<% include ../_header %>

<div class="container">

  <div class="alert alert-<%= type %>" role="alert"><%= message %></div>

  <form method="POST" action="/gift/add">
    <h2 class="form-signin-heading">Gift add</h2>

    <label for="inputName" class="sr-only">Gift</label>
    <input type="text" name="name" id="inputName" class="form-control" placeholder="Gift name" required>

    <label for="inputType" class="sr-only">Gift type</label>
    <select class="form-control" name="giftType" id="inputType" required>
      <option value="3">Bronze</option>
      <option value="2">Silver</option>
      <option value="1">Gold</option>
    </select>

    <label for="inputDrawDate" class="sr-only">Draw date</label>
    <input type="datetime" name="drawDate" id="inputDrawDate" class="form-control" required>

    <input type='submit' class="button_write_comment" value="Write a comment" />
  </form>

</div>

<% include ../_footer %>
