<% include ../_header %>

<div class="container">

  <form method="post" action="<%= '/gift/edit/' + gift.id + '' %>">
    <h2 class="form-signin-heading">Edit gift</h2>

    <label for="inputName" class="sr-only">Gift</label>
    <input type="text" name="name" id="inputName" class="form-control" placeholder="Gift name" value="<%= gift.get("name")  %>" required>

    <label for="inputType" class="sr-only">Gift type</label>
    <input type="text" name="giftType" id="inputType" class="form-control" placeholder="Type (todo choose)" value="<%= gift.get("type")  %>" required>

    <label for="inputDrawDate" class="sr-only">Draw date</label>
    <input type="datetime" name="drawDate" id="inputDrawDate" class="form-control"  value="<%= gift.get("drawDate")  %>" required>

    <button class="btn btn-lg btn-primary btn-block" type="submit">Login</button>
  </form>

</div>

<% include ../_footer %>
