<% include ../_header %>

    <div class="container">
    <% if (currentUser != null) { %>

      <h2>Logged</h2>

        <a href="/gift">Gift</a>

      <a href="/logout">Logout</a>

    <% } else { %>

      <a href="/register">Register</a>
      <a href="/login">Login</a>

    <% } %>
    </div>

<% include ../_footer %>
