<!DOCTYPE html>
<html>
<head>
  <title>Login</title>

  <!-- Latest compiled and minified CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css"
        integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7"
        crossorigin="anonymous">

</head>
<body>

<div class="container">

  <div class="alert alert-<%= type %>" role="alert"><%= message %></div>

  <form method="post" action="/login">
    <h2 class="form-signin-heading">Login</h2>

    <label for="inputUsername" class="sr-only">Username</label>
    <input type="email" name="username" id="inputUsername" class="form-control" placeholder="Email username" required>

    <label for="inputPassword" class="sr-only">Password</label>
    <input type="password" name="password" id="inputPassword" class="form-control" placeholder="Password" required>


    <button class="btn btn-lg btn-primary btn-block" type="submit">Login</button>
  </form>

</div>

</body>
</html>
